/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *
 */

/*
Typekit Typefaces

Brother 1816 Regular

font-family: brother-1816, sans-serif;
font-weight: 400;
font-style: normal;


Brother 1816 Bold

font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal;


Brother 1816 ExtraBold

font-family: brother-1816, sans-serif;
font-weight: 800;
font-style: normal;
*/



@font-face {
  font-family: 'WorkSansBold';
  src: url("../fonts/worksans-bold-webfont.woff2") format("woff2"),
    url("../fonts/worksans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans-web-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



/* Custom Properties */
:root {
  /* Monochrome Blue Pallete */
  --blue01: #1F477F;
  --blue02: #8ABAFF;
  --blue03: #3D8DFF;
  --blue04: #455D7F;
  --blue05: #3171CC;

  /* Colors */
  --darkGray: #666666;
  --lightGray: #e6e6e6;
  --divBkgr: #fff;
  --darkBlue: var(--blue01);
  --lightBlue: var(--blue05);
  
  /* Fonts */
  --headings: 'brother-1816', 'WorkSansBold', sans-serif;
  --text: pt_sans;

  /* Text Color*/
  --textClr: #141414;
  --altTextClr: var(--lightGray);
  --linkClr: #222222;

  /* Box Shadows */
  --blueShadow: 0 15px 72px -25px var(--blue04);
  --insetBlueShadow: inset 0 -5px 0 0 var(--darkBlue);
  --insetMenu: inset 10px 0 0 -6px var(--blue03);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.noScroll {
  overflow-y: hidden;
}


/* Default (Mobile) */

/* Base */
html {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23969696' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  box-sizing: border-box;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.75rem;
  font-family: var(--text);
}

[hidden] {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings);
}

h4 {
  text-align: center;
  margin: 0 0 1rem;
}

p {
  max-width: 36rem;
}

a {
  text-decoration: none;
  color: var(--lightBlue);
  transition: all 100ms ease-in-out;
}

a:hover, a:focus {
  color: var(--darkBlue);
}

.button a {
  display: flex;
  height: 3rem;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  color: var(--altTextClr);
  border-radius: .75rem;
  transition: all 200ms ease-in-out;
}

.button a:hover, .button a:focus {
  border-radius: 1.5rem;
  background-color: var(--darkBlue);
  -webkit-box-shadow: var(--blueShadow);
  -moz-box-shadow: var(--blueShadow);
  box-shadow: var(--blueShadow);
}

/* Nav */
#header {
  order: 1 !important;
  background-color: var(--blue03);
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.25rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas:
    "burger logo logo logo .";
  justify-items: center;
  align-items: center;
  position: fixed;

  padding: .5rem 1rem;
  z-index: 20;
}

.logo {
  /* align-self: center; */
  height: 4rem;
  margin: 0;
  grid-area: logo;
}

#burgWrap {
  width: 2rem;
  grid-area: burger;
  justify-self: start;
  display: flex;
  flex-direction: column;
}

#burgWrap:hover .hamburger:first-of-type {
  width: 1.5rem;
}

#burgWrap:hover .hamburger:last-of-type {
  width: 1.5rem;
  right: -25%
}

.hamburger {
  background-color: #fff;
  /* border-radius: .0625rem; */
  display: block;
  height: .15rem;
  margin-bottom: .5rem;
  width: inherit;
  transition: all .1s ease-in-out;
  position: relative;
}

.hamburger:last-of-type {
  margin-bottom: 0;
  right: 0%;
}

/* Nav */
@keyframes menuSlideIn {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes menuSlideIn {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes menuSlideOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes menuSlideOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.menu {
  padding: 6.25rem 0 3rem;
  background-color: var(--divBkgr);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 3rem);
  justify-items: center;
  align-items: center;
  font: 1.25rem var(--headings);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  top: -100%;
  

 
}

.menuShow {
  animation: menuSlideIn .3s ease-in-out forwards;
  -webkit-animation: menuSlideIn .3s ease-in-out forwards;

}

.menuHidden {
  animation: menuSlideOut .3s ease-in-out forwards;
  -webkit-animation: menuSlideOut .3s ease-in-out forwards;
}

.menu a {
  display: flex;
  height: 3rem;
  align-items: center;
  text-decoration: none;
}

.menu a p {
  color: var(--linkClr);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
  transition: all 200ms ease-in-out;
  font-weight: 700;
  display: block;
  width: 16rem;
  transform-origin: 0% 0%;
}

.menu a:hover p, .menu a:focus p {
  /* Adds line to left side of text */
  -webkit-box-shadow: var(--insetMenu);
	-moz-box-shadow: var(--insetMenu);
  box-shadow: var(--insetMenu);
}

/* Main */
#main {
  order: 2;
  padding: 5.75rem .5rem 0;
}

section {
  background-color: var(--divBkgr);
  color: var(--textClr);
  margin: 0 0 1.5rem;
  padding: 1rem 1.5rem;
}

.topDivision {
  margin-bottom: 3rem;
}

.clrDivision {
  margin: -1rem -1.5rem;
  background-color: var(--lightGray);
  padding: 1rem 1.5rem;
  overflow: hidden;
}

.clrDivision section:last-of-type {
  margin-bottom: 0;
}

/* Bio Section */
#bio, #longBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio .button {
  width: 10.75rem;
}

.portrait {
  width: 100%;
  margin: -1rem -1.5rem 0;
}

#longBio .portrait {
  margin: 0 -1.5rem 1rem;
  max-height: 24rem;
}

#bio p, #longBio p {
  margin: 0 auto 1rem;
  max-width: 20rem;
}

.clrDivision > section {
  height: 25rem;
  max-width: 16rem;
  margin: 0 auto 2rem;
  /* border: 1px solid var(--darkBlue); */
  transition: all 200ms ease-in-out;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: 
    "icon"
    "title"
    "subtitle"
    "desc"
    "button";  
}

.clrDivision > section:hover {
  -webkit-box-shadow: var(--blueShadow), var(--insetBlueShadow);
  -moz-box-shadow: var(--blueShadow), var(--insetBlueShadow);
  box-shadow: var(--blueShadow), var(--insetBlueShadow);
}

section.serv {
  grid-template-rows: 7.313rem 4.25rem 3rem 8rem;  grid-template-areas: 
    "icon"
    "title"
    "subtitle"
    "desc";
}


section.project {
  height: 27rem;
  grid-template-rows: 8rem 5.25rem 2rem 25% auto;
}

section.serv h3, section.project h3 {
  margin: 0;
}

section h2 {
  text-align: center;
}

section h3 {
  margin: 0 auto 1.5rem;
  text-align: center;
}

section section p {
  margin: 0;
  text-align: center;
}

section > .icon {
  grid-area: icon;
  height: 100%;
  transition: filter .2s ease-in-out;
  max-width: 100%;
}

section:hover > .icon {
  filter: drop-shadow(0 0 .2rem rgba(0,0,0,0.6));
}

section .title {
  grid-area: title;
}

section .subtitle {
  grid-area: subtitle;
  font-family: pt_sans;
  font-weight: bold;
}

section .desc {
  grid-area: desc;
}

section .button {
  grid-area: button;
}

#games {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  max-width: 30rem;
  margin: 1rem auto;
}

@media only screen and (max-width: 22rem) {
  #games {
    grid-template-columns: 1fr 1fr;
  }
}

#games a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  /* transition: all .2s ease-in-out; */
}

#games img {
  width: 75px;
}

.footnote {
  color: #7a7a7a;
  font-size: .75rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: 24rem;
  margin-bottom: 3rem;
  max-width: 40.625rem;
}

#current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Intro Section */
#intro h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1rem;
}

.topDivision p,
#intro p {
  text-align: center;
  margin: 0 auto;
}

/* Gallery */
#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

figure {
  margin: 0;
  max-width: 25rem;
}

#gallery figure:first-of-type {
  max-width: 37.5rem;
}

figcaption {
  font-weight: 600;
}

figure h3 {
  text-align: left;
  margin: 0;
}

figure img {
  width: 100%;
}

figure video {
  width: 100%;
}

/* Info Seciont */
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forms */
form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input[type="submit"] {
  border: none;
  display: flex;
  height: 3rem;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  color: var(--altTextClr);
  border-radius: .75rem;
  transition: all 100ms ease-in-out;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  border-radius: 1.5rem;
  background-color: var(--darkBlue);
  -webkit-box-shadow: var(--blueShadow);
  -moz-box-shadow: var(--blueShadow);
  box-shadow: var(--blueShadow);
}

input[name="email"],
input[name="subject"] {
  font-weight: bold;
  max-width: 25rem;
  align-self: start;
}

input[type="email"],
input[type="text"],
textarea {
  border: none;
  -webkit-box-shadow: inset 0px -1px 0px 0px var(--lightGray);
  -moz-box-shadow: inset 0px -1px 0px 0px var(--lightGray);
  box-shadow: inset 0px -1px 0px 0px var(--lightGray);
  margin-bottom: 1.5rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  resize: none;
  transition: all .2s ease-in-out;
}

input[type="email"]:hover,
input[type="text"]:hover,
textarea:hover {
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px -2px 0px 0px var(--lightGray);
  -moz-box-shadow: inset 0px -2px 0px 0px var(--lightGray);
  box-shadow: inset 0px -2px 0px 0px var(--lightGray);
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px -2px 0px 0px var(--darkBlue);
  -moz-box-shadow: inset 0px -2px 0px 0px var(--darkBlue);
  box-shadow: inset 0px -2px 0px 0px var(--darkBlue);
}

::placeholder {
  color: #5f5f5f;
  font-weight: normal;
}

:hover::placeholder,
:focus::placeholder {
  color: #5f5f5f;
  text-shadow: 0 2px 5px #fafafa;
}

/* Footer */
#footer {
  position: relative;
  bottom: 0;
  order: 3;
  background-color: #fff;
  color: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Tablet Media Query */

@media only screen and (min-width: 36rem) {
  .wrapper {
    display: grid;
    grid-template-columns: 7.25rem 1rem auto;
    grid-template-areas:
      "header . main"
      "header . footer";
  }
  
  #header {
    grid-area: header;
    width: 7.25rem;
    grid-template-columns: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 5.25rem) auto;
    grid-template-areas: "logo" "burger";
  }

  #main {
    grid-area: main;
    padding: 1rem .5rem 0;
    max-width: 56.25rem;
  }

  #footer {
    grid-area: footer;
  }

  #burgWrap {
    justify-self: center;
    cursor: pointer;
  }

  @keyframes menuSlideIn {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  
  @-webkit-keyframes menuSlideIn {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  
  @keyframes menuSlideOut {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @-webkit-keyframes menuSlideOut {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }

  .menu {
    top: 0;
    left: -100%;
  }

}

@media only screen and (min-width: 41.25rem) {
  #bio {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "portrait heading"
    "portrait info"
    "portrait button";
    min-width: 0;
    min-height: 0;
  }

  #bio .button {
    justify-self: center;
  }
  
  #bio .portrait {
    grid-area: portrait;
    margin: 1rem -1.5rem -1rem;
  }
  
  #bio h2 {
    grid-area: heading;
  }
  
  #bio p {
    grid-area: info;
  }
  
  #bio .button {
    grid-area: button;
  } 

  #longBio p {
    max-width: 36rem;
  }
}

@media only screen and (min-width: 50rem) {
  .clrDivision {
    display: grid;
    grid-template-columns: 16rem 16rem;
    grid-column-gap: 3rem;
    justify-content: center;
  }
}