/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *
 */

/*
Typekit Typefaces

Brother 1816 Regular

font-family: brother-1816, sans-serif;
font-weight: 400;
font-style: normal;


Brother 1816 Bold

font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal;


Brother 1816 ExtraBold

font-family: brother-1816, sans-serif;
font-weight: 800;
font-style: normal;
*/

@font-face {
  font-family: "LoraRegular";
  src: url("../fonts/lora-regular-webfont.woff2") format("woff2"),
    url("../fonts/lora-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "WorkSansBold";
  src: url("../fonts/worksans-bold-webfont.woff2") format("woff2"),
    url("../fonts/worksans-bold-webfont.woff") format("woff");
}

/* Custom Properties */
:root {
  /* Colors */
  --bkgrGradient: linear-gradient(30deg, #86858C 0%, #F5F0EB 100%);
  --redGradient: linear-gradient(30deg, #f12711 0%, #f5af19 100%);
  --yellowGradient: linear-gradient(10deg, #FDFC47 0%, #24FE41 100%);
  --blueGradient: linear-gradient(10deg, #1B1A28 0%, #464a5f 100%);
  --divBkgr: #fff;
  
  /* Fonts */
  --headings: 'brother-1816', sans-serif;

  /* Text Color*/
  --textClr: #222222;
  --atlTextClr: #f1f0f0;
  --linkClr: #222222;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/* Default (Mobile) */

/* Base */
html {
  background: var(--bkgrGradient);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-size: 100%;
  min-height: 100%;
}

[hidden] {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings);
}

/* Gradient border to wrap around divs */
.gradWrap {
  margin: 1.5rem 0 0;
  padding: .15rem;
  background: var(--blueGradient);
  /* border-radius: .5rem; */
}

/* Nav */
#header {
  order: 1 !important;
  background-color: #1B1A28;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.25rem;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas:
    ". logo logo logo burger";
  justify-items: center;
  align-items: center;

  padding: .5rem 1rem;
  z-index: 20;
}

.logo {
  /* align-self: center; */
  height: 4rem;
  margin: 0;
  grid-area: logo;
}

#burgWrap {
  width: 2rem;
  grid-area: burger;
  justify-self: end;
  display: flex;
  flex-direction: column;
}

#burgWrap:hover .hamburger:first-of-type {
  width: 1.5rem;
}

#burgWrap:hover .hamburger:last-of-type {
  width: 1.5rem;
  right: -25%
}

.hamburger {
  background-color: #fff;
  /* border-radius: .0625rem; */
  display: block;
  height: .15rem;
  margin-bottom: .5rem;
  width: inherit;
  transition: all .1s ease-in-out;
  position: relative;
}

.hamburger:last-of-type {
  margin-bottom: 0;
  right: 0%;
}

/* Nav */
@keyframes menuSlideIn {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes menuSlideIn {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes menuSlideOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes menuSlideOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.menu {
  padding: 6.25rem 0 3rem;
  background-color: var(--divBkgr);
  
  font: 1.25rem var(--headings);
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  

 
}

.menuShow {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 3rem);
  justify-items: center;
  align-items: center;
  animation: menuSlideIn .3s ease-in-out forwards;
  -webkit-animation: menuSlideIn .3s ease-in-out forwards;

}

.menuHidden {
  display: none;
  animation: menuSlideOut .3s ease-in-out forwards;
  -webkit-animation: menuSlideOut .3s ease-in-out forwards;
}

.menu a {
  display: flex;
  height: 3rem;
  /* width: 100%; */
  align-items: center;
  text-decoration: none;
}

.menu a p {
  color: var(--linkClr);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
  transition: all .25s ease-in-out;
  font-weight: 700;
  display: block;
  width: 16rem;
  transform-origin: 0% 0%;
}

.menu a:hover p, .menu a:focus p {
  /* Adds line to left side of text */
  -webkit-box-shadow: inset 10px 0 0 -6px var(--linkClr);
	-moz-box-shadow: inset 10px 0 0 -6px var(--linkClr);
  box-shadow: inset 10px 0 0 -6px var(--linkClr);
  /* font-weight: 800; */
}

/* Main */
#main {
  order: 2;
}

section {
  background-color: var(--divBkgr);
  /* border-radius: .5rem; */
  margin: 1.5rem .5rem 0;
  padding: 1rem 1.5rem;
}

/* Services Sections */
section .serv {
 height: 20rem;
 margin: 0;
 /* border-radius: .4rem; */
}

section .serv:hover {
  background-color: rgba(255, 255, 255, .3);
  color: var(--atlTextClr);
}

section .serv h3 {
  margin-top: 0;
}


/* Footer */
#footer {
  order:3;
  margin-top: 3rem;
}